@{
    ViewData["Title"] = "Index";
}

<h1>Hello</h1>
<p>
    Name: Tianyi Jian
    <br>Student Number: 040947249
    <br>Feedback for this assignment: Creating the Controller's Actions and Views->Step14 is confusing. Previous guides are very clear, Thank you!
    <br>Feedback for this course: Can you demo the sample code post on github during lab, that would be great! Everything else is going well for me.
</p>
