<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Student Communities</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <header class="header">
        <h1><a asp-controller="Home" asp-action="Index">SchoolCommunity</a></h1>
    </header>
    <div class="menu">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Students" asp-action="Index">Students</a>
            </li>
            <li>
                <a asp-controller="Communities" asp-action="Index">Communities</a>
            </li>
        </ul>
    </div>
    <div class="contenti">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>


    @RenderSection("Scripts", required: false)
    <footer class="footer">
        Tianyi Jian<br>
        <a href="mailto:jian0092@algonquinlive.com">jian0092</a>
    </footer>
</body>

</html>
